<%= form_for(@my_mailer) do |f| %>
  <% if @my_mailer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_mailer.errors.count, "error") %> prohibited this my_mailer from being saved:</h2>

      <ul>
      <% @my_mailer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule_time %><br>
    <%= f.datetime_select :schedule_time %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
